Label {
    color: rgb(43, 43, 43);
}

.action-bar {
    background-color: rgb(79, 79, 255);
}

.red-button {
    background-color: rgb(255, 61, 61);
}

.green-button {
    background-color: rgb(97, 245, 97);
}


.error-text {
    color: rgb(255, 61, 61);
    text-align: center;
    font-weight: bold;
}

.less-button {
    background-color: rgb(134, 134, 255);
}

.listView {
    border-bottom-width: 1;
    background-color: rgb(203, 242, 255);
}

.more-button {
    background-color: rgb(71, 71, 255);
}

.itemInfo {
    padding-left: 10;
}

.listItems {
    border-width: 1;
    border-color: gray;
    border-radius: 10;
    margin: 2;
    padding-bottom: 5;
    background-color: rgb(108, 108, 253);
    color: rgb(43, 43, 43);
    android-elevation:10;
}

.listItems Image {
    border-top-left-radius: 10;
    border-top-right-radius: 10;
}

.itemSelected {
    padding-left: 5;
}